.pink-panther {
  background: pink;
  text-align: center;
}

.border {
  border: 1px solid black;
}

span {
  line-height: 200px;
}

.orange-juice {
  background-color: orange;
}

.padding {
  padding: 0.5%;
}

.white-border{
  border: 1px solid white;
}
